body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/BG.jpg);
  background-attachment: fixed;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;
  text-decoration: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 25px 0;
}
.navigation__list {
  display: flex;
  align-items: baseline;
  gap: 40px;
  list-style: none;
}
.navigation__list a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.btn {
  display: block;
  max-width: 160px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  padding: 15px 45px 15px 45px;
  background-color: #ffc814;
  color: #1f3347;
  border: none;
  cursor: pointer;
}
.main__title {
  margin-top: 114px;
  max-width: 488px;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.19;

  color: #ffffff;
}
.main__text {
  max-width: 563px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: #ffffff;
  margin-top: 15px;
}
.btns {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}
